# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Archaeologist Storage & DB
*.db
*.db-shm
*.db-wal
*.bin
qdrant_db/
qdrant_storage/
qdrant_storage_local/
.env


# IDE & OS
.vscode/
.idea/
.DS_Store
